body {
  background: skyblue;
}
h1 {
  text-align: center;
  color: darkblue;
  font-size: 50px;
}

#game {
  border-width: 0px;
  margin: -70px;
  padding-left: 410px;
  width: 25%;
  height: 35%;
}

container {
  display: flex;
  padding-top: 100px;
  padding-left: 100px;
}

#rock {
  display: flex;
  width: 25%;
  height: 25%;
  padding-right: 60px;
}

#paper {
  display: flex;
  width: 25%;
  height: 25%;
  padding-right: 60px;
}

#scissor {
  display: flex;
  width: 25%;
  height: 25%;
}

div {
  font-size: 25px;
  text-align: center;
}

#results {
  color: darkblue;
  font-family: "Lucida Console", Courier, monospace;
  font-size: 60px;
}
